headerbar button.titlebutton.close{background-image:url("window-buttons/close.svg");background-repeat:no-repeat;background-position:center;}
headerbar button.titlebutton.minimize{background-image:url("window-buttons/minimize.svg");background-repeat:no-repeat;background-position:center;}
headerbar button.titlebutton.maximize{background-image:url("window-buttons/maximize.svg");background-repeat:no-repeat;background-position:center;}
